<header class="navbar navbar-default">
    <div class="mycontainer">
        <a href="#" class="navbar-brand" id="mylogo">MANGYU</a>
        <h4>后台管理</h4>
        <section  class="logout">
            <a href="{:url('manager/reset')}"><span class="glyphicon glyphicon-user"></span>修改我的密码</a>
            <a href="#"><span class="glyphicon glyphicon-user"></span></a>
            <a href="{:url('login/logout')}"><span class="glyphicon glyphicon-log-out"></span>登出</a>
        </section>
    </div>
</header>